# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
lin_reg_venv/
zillow_venv/
*_venv/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env
.venv

# Model files (often large)
*.pkl
*.joblib
*.h5
*.onnx
*.pb


# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

